body {
    color: #777777;
    background-image: url("./../images/white-waves.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.navbar {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
}

a {
    font-size: large;
}



h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

#contact {
    text-align: left;
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 20px;
    background-color: #ffffff;
}

#aboutMe {
    text-align: left;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
}

#portfolio {
    text-align: left;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
}

.btn {
    background-color: #4aaaa5;
    border-color: #cccccc;
}

hr {
    border-top: 2px solid #eeeeee;
}

#bio-image {
    float: left;
    margin-right: 2%;
}

.footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    color: white;
    font-size:small;
    text-align:center;
    padding: 20px;
}